<h2 class="page-header">Alterar senha</h2>
<form (submit)="onResetSubmit()">
  <div class="table">
    <tr>
        <td><label>Senha atual:</label></td>
        <td><input type="text" [(ngModel)]="currentPassword" name="currentPassword"></td>
      </tr>
      <tr>
        <td><label>Senha:</label></td>
        <td><input type="password" [(ngModel)]="password1" name="password1"></td>
      </tr>
      <tr>
        <td><label>Repita a senha:</label></td>
        <td><input type="password" [(ngModel)]="password2" name="password2"></td>
      </tr>
      <input type="submit" class="btn btn-primary" value="Enviar">
  </div> 
</form>