<h2 class="page-header">Cadastro</h2>
<form (submit)="OnRegisterSubmit()">
  <div class="table">
    <tr>
      <td><label>Email:</label></td>
      <td><input type="text" [(ngModel)]="email" name="email"></td>
    </tr>
    <tr>
      <td><label>Nome Completo:</label></td>
      <td><input type="text" [(ngModel)]="name" name="name"></td>
    </tr>
    <tr>
      <td><label>Senha:</label></td>
      <td><input type="password" [(ngModel)]="password" name="password"></td>
    </tr>
  </div> 
  <input type="submit" class="btn btn-primary" value="Enviar">
</form>