<div class="jumbotron text-center">
  <h1>DigiWallet</h1>
  <p class="lead">DigiWallet é uma carteira digital de bitcoins ideal para você profissional liberal</p>
  <button type="button" class="btn btn-lg btn-primary" [routerLink]="['/login']">Crie uma conta</button>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 class="text-center">Taxas pequenas</h3>
    <p>Taxas para movimentação e retirada de dinheiro muito mais baixas que bancos tradicionais.</p>
  </div>
  <div class="col-md-4">
    <h3 class="text-center">Privacidade financeira</h3>
    <p>Suas movimentações financeiras não são mais rastreadas. O governo, nem instituições privadas precisam saber como você gasta seu dinheiro.</p>
  </div>
  <div class="col-md-4">
    <h3 class=" text-center">Serviços financeiros para todos</h3>
    <p>Não existem pre-requisitos para abrir uma conta. Todos agora podem ter acesso aos benefícios de instituições financeiras.</p>
  </div>
</div>

