<div class="jumbotron text-center">
  <h1>MP MVP</h1>
  <p class="lead">Esse é um MVP para um marketplace</p>
  <br>
  <h3>Cadastre-se</h3>
  <button type="button" class="btn btn-lg btn-primary" [routerLink]="['/register']">Fornecedor</button>
  <button type="button" class="btn btn-lg btn-default" [routerLink]="['/register']">Consumidor</button>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 class="text-center">Redução nas contas</h3>
    <p>Pague menos nas suas contas</p>
  </div>
  <div class="col-md-4">
    <h3 class="text-center">Sem taxas ocultas</h3>
    <p>Tenha consciencia de todas as taxas que você paga</p>
  </div>
  <div class="col-md-4">
    <h3 class=" text-center">Controle financeiro</h3>
    <p>Tenha controle sobre seus gastos mensais</p>
  </div>
</div>

